﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>API</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://@Request.ServerVariables["HTTP_HOST"]/api/values" target="_blank">Hit the API GET method &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Console App</h2>
        <p>Build the app and run LThorneFizzBuxx.exe or set LThorneFizzBuzz.Console as start app in VS and run it</p>
        
    </div>
    <div class="col-md-4">
        <h2>Db insert VS Console app</h2>
        <p>

            add code to your Web.Config like so to your &lt;connectionStrings&gt; node like so:<br /><br />
    <add name="MovieDBContext"<br />
                 connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" /><br />

</p>
    </div>
</div>
